.movies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listOfMovies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1.5rem;
  grid-column-gap: 1rem;
  justify-items: center;
  text-align: center;
  margin-top: 2rem;
  overflow-y: auto;
  max-width: 100%;
}

.movie {
  position: relative;

  img {
    object-fit: cover;
    width: 7.5rem;
    height: 10rem;
    border-radius: 0.5rem;
    cursor: pointer;
    grid-column: span 1;
  }

  > div {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 480px) {
  .listOfMovies {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 640px) {
  .listOfMovies {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 720px) {
  .listOfMovies {
    grid-template-columns: repeat(5, 1fr);

    img {
      height: 12rem;
    }
  }
}

@media (min-width: 1024px) {
  .listOfMovies {
    grid-template-columns: repeat(6, 1fr);

    img {
      height: 12rem;
      width: 9rem;
    }
  }
}

@media (min-width: 1280px) {
  .listOfMovies {
    grid-template-columns: repeat(7, 1fr);

    img {
      height: 13rem;
      width: 10rem;
    }
  }
}
