.sliderWrapper {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  .slider {
    display: flex;
    gap: 20px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    overflow: visible;
    padding-left: 1rem;

    > div {
      position: relative;
      min-width: 200px;
      height: 300px;

      img {
        object-fit: contain;
        border-radius: 1rem;
        height: 100%;
        width: 100%;
        cursor: pointer;
      }

      p {
        font-size: 4.5rem;
        -webkit-text-stroke: 1px $color-accent;
        text-shadow: 0 2px 4px #000;
        font-weight: bold;
        color: $color-primary;
        position: absolute;
        left: -8px;
        bottom: 0;
        height: 4rem;
        user-select: none;
      }
    }
  }
}
