@media (min-width: 1024px) {
  .desktopLayout {
    display: grid;
    grid-template-columns: 3.5rem 1fr;
    min-height: 100vh;
    width: 100vw;

    main {
      max-width: 1280px;
      margin-inline: auto;
    }
  }

  .sidebarPlace {
    width: 100%;
    min-height: 100vh;
  }
}

@media (max-width: 1024px) {
  .sidebarPlace {
    display: none;
  }
}
