.wrapper {
  width: 100%;
  max-width: 1280px;
  margin-top: 2rem;
}

@media (max-width: 820px) {
  .wrapper {
    margin-block: 1rem;
  }
}

@media (max-width: 1400px) {
  .wrapper {
    margin-inline: 2rem;
  }
}
