.skeletonPulse {
  background-color: $color-lightgray;
  border-radius: 8px;
  animation: pulse 1.5s ease-in-out infinite;
  width: 100%;
  height: 100%;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
